Screen {
    layout: vertical;
    align: center middle;
}

DataTable {
    height: 1fr;
    margin: 1 0;
}

.label {
    margin-top: 2;
}

Input {
    width: 80%;
    margin: 1;
}

ListView {
    height: 1fr;
    width: 80%;
    border: heavy green;
}

.file-selector-container {
    height: 1fr;
    width: 100%;
}

ListView > .textual-list-item.-highlight {
    background: #646464; /* A dark grey background */
    color: white;
}